<div class="bubble" id="{{itemID}}">

  <!-- Toggle -->
  <div class="bubble--toggle">
    <p ng-click="toggle = toggle + 1; current = types[toggle % types.length]">
      {{current}} {{types.length > 1 ? '>' : ''}}
    </p>
  </div>

  <!-- Person -->
    <div class="bubble--photo" ng-if="person" ng-show="current === 'Person'" ng-style="{
      'background-image' : 'url(' + person['schema:image'] + ')' }">
			<div class="bubble--label">
	      {{person["schema:givenName"]}} {{person["schema:familyName"]}}
	    </div>
    </div>

  <!-- Place -->
    <div class="bubble--photo" ng-if="place" ng-show="current === 'Place'" ng-style="{
      'background-image' : 'url(' + place['schema:image'] + ')' }">
			<div class="bubble--label">
	      {{place["schema:name"]}}
	    </div>
    </div>

  <!-- Product -->
    <div class="bubble--photo" ng-if="product" ng-show="current === 'Product'" ng-style="{
      'background-image' : 'url(' + product['schema:image'] + ')' }">
			<div class="bubble--label">
	      {{product["schema:name"]}}
	    </div>
    </div>

</div>
