<!DOCTYPE HTML>
<html>
  <head>
    <title> reelyActive cuttlefish.js demo </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="style/main.css">
		<link rel="stylesheet" href="style/bubble.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.0.2/ui-bootstrap-tpls.min.js"></script>
		<script type="text/javascript" src="js/bubble.js"></script>
		<script type="text/javascript" src="js/cuttlefish.js"></script>
		<script type="text/javascript" src="js/dashboard.js"></script>
  </head>
  <body ng-app="dashboard">
    <div ng-controller="DashCtrl">
      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle"
                  ng-init="navCollapsed = true"
                  ng-click="navCollapsed = !navCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://context.reelyactive.com" >
            <strong>reely</strong>Active
          </a>
        </div>
        <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'"
             ng-click="navCollapsed = true">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href> cuttlefish.js demo </a></li>
          </ul>
        </div>
      </nav>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <table class="table table-hover">
              <caption> ENTER YOUR JSON-LD BELOW </caption>
            </table>
            <form>
              <div class="form-group">
                <textarea type="text" class="form-control" id="data"
                          rows="20" columns="90" ng-model="data">
                </textarea>
              </div>
              <div class="form-group">
                <label for="size">Bubble Size</label>
                <input type="text" class="form-control" id="size"
                       ng-model="size" ng-change="update(data)" placeholder="240px">
              </div>
              <button type="submit" class="btn btn-default"
                      ng-click="update(data)"> Update </button>
            </form>
          </div>
          <div class="col-md-6">
            <table class="table table-hover">
              <caption> HOW IT IS RENDERED BY CUTTLEFISH </caption>
            </table>
            <div class="well blue" style="min-height: 540px">
              <bubble json="json" size="{{size}}" toggle="true"></bubble>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4 well well-lg">
            <h3 class="text-center"> cuttlefish.js </h3>
            <p class="text-center">
              <a class="btn btn-primary" href="https://github.com/reelyactive/cuttlefish/tree/gh-pages" target="_blank">Source Code</a>
              <a class="btn btn-success" href="https://github.com/reelyactive/cuttlefish" target="_blank">Documentation</a>
            </p>
            <img class="img-responsive" src="images/cuttlefish-bubble.png">
          </div>
          <div class="col-md-4"></div>
        </div>
      </div>
      <footer class="footer">
        <a href="https://github.com/reelyactive/cuttlefish"> cuttlefish.js </a>
        &nbsp; | &nbsp;
        <a href="http://context.reelyactive.com"
           tooltip="We believe in an open Internet of Things"
           tooltip-placement="right">
          &copy; reelyActive 2016
        </a>
      </footer>
    </div>
  </body>
</html>
