* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'EntypoRegular';
  src: url('../font/entypo.eot');
  src: url('../font/entypo.eot?#iefix') format('embedded-opentype'),
       url('../font/entypo.woff') format('woff'),
       url('../font/entypo.ttf') format('truetype'),
       url('../font/entypo.svg#EntypoRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EntypoSocial';
  src: url('../font/entypo-social.eot');
  src: url('../font/entypo-social.eot?#iefix') format('embedded-opentype'),
       url('../font/entypo-social.woff') format('woff'),
       url('../font/entypo-social.ttf') format('truetype'),
       url('../font/entypo-social.svg#entypo-social') format('svg');
  font-weight: normal;
  font-style: normal;
}

img { 
  display: block;
  max-width: 100%;
}

a {
  color: #0770a2;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.entity {
  border: solid 1px #ccc;
  font-size: 0.8em;
  padding: 5px;
  background-color: white;
  margin: 5px;
}

.Device + .Device {
  margin-top: 10px;
}

/* Colored !
.Device {
    border-color: #FFAC71;
    background-color: #FFDFA6;
}

.Person {
    border-color: #BFD4FF;
    background-color: #BFD4FF;
} 

.Product {
    border-color: #FFFF82;
    background-color: #FFFF82;
}

.tiraid {
    border-color: #CCCCCC;
    background-color: #EEEEEE;
}
*/

.clear {
    clear: both;
}

.Person img, .Device img {
    max-width: 8em;
    max-height: 8em;
    width: auto;
    height: auto;
    float: left;
    margin: 5px;
}

img.icon {
    clear: both;
    max-height: 2em;
}

/* Icons */
.icon {
    font-family: 'EntypoRegular';
    font-size: 2em;
    display: inline-block;
    margin-right: 5px;
    vertical-align: bottom;
}
.social {
    font-family: 'EntypoSocial';
}

